Source: eg25-manager
Section: libs
Priority: optional
Maintainer: Arnaud Ferraris <arnaud.ferraris@gmail.com>
Standards-Version: 4.5.1
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13),
               libglib2.0-dev,
               libgpiod-dev,
               libmm-glib-dev,
               meson,
Homepage: https://gitlab.com/mobian1/devices/eg25-manager
Vcs-Git: https://gitlab.com/mobian1/devices/eg25-manager.git
Vcs-Browser: https://gitlab.com/mobian1/devices/eg25-manager

Package: eg25-manager
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         modemmanager,
Conflicts: pinephone-modem-scripts,
Replaces: pinephone-modem-scripts,
Description: Manager daemon for the Quectel EG25 mobile broadband modem
 A set of scripts for the PinePhone modem, allowing to power on/off the modem,
 and configure its audio interface to work properly with the A64 audio codec.
