#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --builddirectory=_build

override_dh_installinit:
	dh_installinit --no-start --name=modemmanager
	dh_installinit --no-start --name=eg25-manager
