#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --builddirectory=_build

override_dh_installsystemd:
	dh_installsystemd --name=eg25-manager --no-restart-on-upgrade --no-restart-after-upgrade
